---
import NoOuterBody from "../../layouts/no-outer-body.astro";
import ScrollProgressBar from "../../components/scroll-progress-bar.astro";
---

<style scoped>
  body {
    margin: 25px;
  }

  h2 {
    margin-top: 30px;
  }

  h3 {
    margin-top: 20px;
  }

  p {
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 15px;
  }
</style>

<NoOuterBody pageTitle={"Politique en matière de cookies"} pageDescription={""}>
  <ScrollProgressBar />

  <h1>Politique en matière de cookies</h1>

  <p><strong>Introduction</strong></p>

  <p>
    Cette Politique en matière de cookies explique comment notre site web
    utilise les cookies et des technologies similaires pour offrir une meilleure
    expérience de navigation à nos visiteurs. En continuant à utiliser notre
    site web, vous acceptez l'utilisation des cookies telle que décrite dans
    cette politique.
  </p>

  <p><strong>Qu'est-ce que les cookies ?</strong></p>

  <p>
    Les cookies sont de petits fichiers texte qui sont stockés sur votre
    appareil (ordinateur, tablette, smartphone) lorsque vous visitez un site
    web. Ils sont largement utilisés pour rendre les sites web plus efficaces,
    ainsi que pour fournir des informations aux propriétaires du site.
  </p>

  <p><strong>Types de cookies que nous utilisons</strong></p>

  <p>
    Notre site web ne génère pas de cookies de manière autonome. Cependant, nous
    utilisons des services tiers tels que Google Analytics, qui peuvent utiliser
    des cookies pour collecter des informations sur la manière dont les
    visiteurs utilisent notre site. Ces informations sont utilisées pour
    analyser le trafic du site web et améliorer l'expérience utilisateur. Ces
    cookies peuvent être stockés sur votre appareil lorsque vous visitez notre
    site web.
  </p>

  <p><strong>Gestion des cookies</strong></p>

  <p>
    Vous pouvez contrôler et gérer les cookies de différentes manières. La
    plupart des navigateurs web vous permettent de supprimer ou de bloquer les
    cookies, ainsi que de configurer vos préférences d'utilisation des cookies.
    Cependant, veuillez noter que la désactivation des cookies peut affecter
    votre expérience sur notre site web et limiter certaines fonctionnalités.
  </p>

  <p><strong>Services tiers</strong></p>

  <p>
    Notre site web est hébergé sur Netlify et nous utilisons Google Analytics à
    des fins d'analyse. Ces services tiers peuvent également utiliser des
    cookies pour fournir leurs services. Nous vous recommandons de consulter
    leurs politiques de confidentialité respectives pour plus d'informations sur
    la manière dont ils gèrent les cookies et les données personnelles.
  </p>

  <p><strong>Mise à jour de cette politique</strong></p>

  <p>
    Nous pouvons mettre à jour cette Politique en matière de cookies de temps à
    autre pour refléter les changements dans nos pratiques ou pour d'autres
    raisons opérationnelles, légales ou réglementaires. Nous vous encourageons à
    revoir périodiquement cette politique pour tout changement.
  </p>
</NoOuterBody>
