---
import OuterBody from "../../layouts/outer-body.astro";
import Splash from "../../components/splash.astro";
import ScrollProgressBar from "../../components/scroll-progress-bar.astro";
---

<OuterBody
  pageTitle={"Rake Engine"}
  pageDescription={"Benvenuti nel sito ufficiale di Rake, un motore di gioco open source progettato per semplificare il processo di sviluppo del gioco! Rake fornisce agli sviluppatori un insieme completo di strumenti e funzionalità per progettare, costruire e distribuire esperienze interattive su diverse piattaforme. Con un impegno per l'accessibilità e l'istruzione, aspiriamo a trasformare Rake in una piattaforma di apprendimento completa, promuovendo la prossima generazione di creatori di giochi."}
>
  <ScrollProgressBar />
  <Splash />
  <div class="w-lvh mb-4 mt-4 flex flex-col items-center md:mb-4 md:mt-8">
    <div class="mt-6 w-2/3" data-aos="fade-up" data-aos-delay="500">
      <h2 class="text-xl">Qu'est-ce que Rake ?</h2>
      <p
        class="mt-2 text-justify"
        style="font-family: 'Agave Regular', sans-serif;"
      >
        Bienvenue dans le monde du développement de jeux ! Un moteur de jeu est
        un élément fondamental de logiciel qui sert de base à la création de
        jeux numériques. Il fournit aux développeurs un ensemble d'outils et de
        fonctionnalités pour concevoir, construire et distribuer des expériences
        interactives sur différentes plateformes. Pensez-y comme à l'armature
        architecturale sur laquelle les jeux sont construits, gérant des tâches
        telles que le rendu graphique, la gestion audio, la gestion de la
        physique et facilitant la logique de script et de programmation.
        Permettez-nous maintenant de vous présenter Rake, notre moteur de jeu
        open source conçu pour simplifier le processus de développement de jeu.
        Rake vise à être essentiel et convivial, donnant aux développeurs de
        tous niveaux le pouvoir de donner vie facilement à leurs visions
        créatives. Avec un engagement envers l'accessibilité et l'éducation,
        nous aspirons à transformer Rake en une plateforme d'apprentissage
        complète, en promouvant la prochaine génération de créateurs de jeux.
        Rejoignez-nous dans ce voyage passionnant alors que nous révolutionnons
        ensemble le développement de jeux.
      </p>
    </div>
    <hr />
    <div class="mt-6 w-2/3" data-aos="fade-up" data-aos-delay="500">
      <h2 class="text-xl">L'état de Rake</h2>
      <p
        class="mt-2 text-justify"
        style="font-family: 'Agave Regular', sans-serif;"
      >
        Le voyage de Rake vient de commencer, et nous n'avons pas peur du
        changement. Récemment, nous avons subi une révision architecturale
        radicale, qui a rendu nécessaire la reconstruction de nombreuses
        fonctionnalités existantes, y compris notre rendu. Cette évolution
        marque une phase excitante de notre développement, alors que nous nous
        efforçons de perfectionner et d'améliorer Rake pour répondre aux besoins
        changeants de la communauté des développeurs de jeux. Si vous êtes
        passionné par le façonnage de l'avenir du développement de jeux et que
        vous voulez faire partie de notre voyage, nous vous invitons à nous
        rejoindre. Que vous soyez un développeur expérimenté désireux de
        contribuer au code, un esprit créatif avec des idées fraîches, ou
        simplement quelqu'un désireux d'apprendre et de grandir avec nous, il y
        a une place pour vous dans la communauté de Rake. Contactez-nous via les
        méthodes de contact fournies dans le pied de page du site Web, et
        construisons ensemble quelque chose d'incroyable.
      </p>
    </div>
    <hr />
    <div class="mt-6 w-2/3" data-aos="fade-up" data-aos-delay="500">
      <h2 class="text-xl">Qui est Wilielmus ?</h2>
      <p
        class="mt-2 text-justify"
        style="font-family: 'Agave Regular', sans-serif;"
      >
        Wilielmus (moi) est un développeur de jeux passionné avec un accent
        unique sur la création d'expériences numériques engageantes. En tant que
        seul développeur derrière Rake, il investit sa passion et son expérience
        dans la création d'un moteur de jeu polyvalent et convivial. Compétent
        dans des langages comme le C++, Wilielmus canalise sa créativité dans
        chaque aspect du développement de Rake, de l'architecture de base à ses
        fonctionnalités innovantes. Bien qu'il soit le seul esprit derrière
        Rake, Wilielmus ne se laisse pas décourager, repoussant constamment les
        limites de ce dont Rake est capable. Son engagement pour l'excellence et
        son amour pour le jeu transparaissent dans chaque ligne de code. Alors
        que ses études personnelles approfondissent les complexités de
        l'intelligence artificielle, son cœur reste solidement ancré dans le
        monde des jeux. Avec Rake, Wilielmus vise à donner du pouvoir à ses
        collègues développeurs de jeux pour donner vie à leurs visions et
        façonner l'avenir du divertissement interactif.
      </p>
    </div>
    <hr />
    <div class="mt-6 w-2/3" data-aos="fade-up" data-aos-delay="500">
      <h2 class="text-xl">Licence MIT</h2>
      <p
        class="mt-2 text-justify"
        style="font-family: 'Agave Regular', sans-serif;"
      >
        Nous vous encourageons à plonger dans Rake et à explorer librement son
        code. Distribué sous la licence MIT permissive, Rake offre aux
        développeurs la liberté d'expérimenter, d'innover et de construire sur
        sa base sans contraintes. Que vous soyez un développeur expérimenté
        désireux de contribuer à son évolution ou un novice désireux
        d'apprendre, la nature ouverte de Rake invite à la collaboration et à
        l'exploration. Saisissez l'occasion de jouer avec son fonctionnement
        interne, personnalisez-le pour répondre à vos besoins ou acquérez
        simplement des informations précieuses sur le développement du moteur de
        jeu. Avec Rake, les possibilités sont infinies, et nous avons hâte de
        voir quelles incroyables créations vous allez donner vie. Laissez libre
        cours à votre imagination et commencez votre voyage avec Rake dès
        aujourd'hui.
      </p>
    </div>
  </div>
</OuterBody>
