---
import NoOuterBody from "../../layouts/no-outer-body.astro";
import ScrollProgressBar from "../../components/scroll-progress-bar.astro";
---

<style scoped>
  body {
    margin: 25px;
  }

  h2 {
    margin-top: 30px;
  }

  h3 {
    margin-top: 20px;
  }

  p {
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 15px;
  }
</style>

<NoOuterBody pageTitle={"Politique de confidentialité"} pageDescription={""}>
  <ScrollProgressBar />

  <h1>Politique de confidentialité</h1>

  <p><strong>Introduction</strong></p>

  <p>
    Cette politique de confidentialité décrit comment nous collectons,
    utilisons, divulguons et protégeons vos informations personnelles lorsque
    vous visitez notre site web.
  </p>

  <p><strong>Informations que nous collectons</strong></p>

  <p>
    Nous ne collectons aucune information personnelle directement via notre site
    web. Cependant, comme de nombreux exploitants de sites web, nous utilisons
    des services tiers tels que Google Analytics pour collecter automatiquement
    certaines informations. Celles-ci peuvent inclure votre adresse IP, le type
    de navigateur, les pages d'entrée/sortie et d'autres informations sur
    l'utilisation.
  </p>

  <p><strong>Comment nous utilisons vos informations</strong></p>

  <p>
    Les informations collectées sont utilisées à des fins d'analyse afin de
    comprendre comment les visiteurs interagissent avec notre site web et pour
    en améliorer la fonctionnalité et le contenu. Nous n'utilisons pas ces
    informations pour identifier des utilisateurs individuels.
  </p>

  <p><strong>Services tiers</strong></p>

  <p>
    Nous pouvons utiliser des services tiers, tels que Google Analytics, pour
    analyser le trafic sur le site web. Ces services peuvent collecter des
    informations sur l'utilisation de notre site web via des cookies et des
    technologies similaires. Nous vous recommandons de consulter les politiques
    de confidentialité de ces services tiers pour plus d'informations sur la
    manière dont ils gèrent vos données personnelles.
  </p>

  <p><strong>Sécurité des données</strong></p>

  <p>
    Nous prenons des mesures appropriées pour protéger la sécurité de vos
    informations personnelles. Cependant, veuillez noter qu'aucune méthode de
    transmission sur Internet ou de stockage électronique n'est totalement
    sécurisée. Par conséquent, bien que nous nous efforcions d'utiliser des
    moyens commercialement acceptables pour protéger vos informations
    personnelles, nous ne pouvons garantir une sécurité absolue.
  </p>

  <p><strong>Modifications à cette politique</strong></p>

  <p>
    Nous pouvons mettre à jour cette politique de confidentialité de temps à
    autre pour refléter les changements dans nos pratiques ou pour d'autres
    raisons opérationnelles, légales ou réglementaires. Nous vous encourageons à
    consulter régulièrement cette politique pour toute mise à jour.
  </p>

  <p><strong>Nous contacter</strong></p>

  <p>
    Si vous avez des questions ou des préoccupations concernant cette politique
    de confidentialité, veuillez nous contacter à l'adresse
    <a
      class="text-blue-400 underline"
      href="mailto:therakeproject@gmail.com"
      target="_blank"
      referrerpolicy="no-referrer">therakeproject@gmail.com</a
    >.
  </p>
</NoOuterBody>
