---
import NoOuterBody from "../../layouts/no-outer-body.astro";
import ScrollProgressBar from "../../components/scroll-progress-bar.astro";
import ThemeToggle from "../../components/theme-toggle.astro";
---

<style scoped>
  body {
    margin: 25px;
  }

  h1 {
    margin-top: 40px;
    font-size: xx-large;
    font-weight: bold;
  }

  h2 {
    margin-top: 30px;
  }

  h3 {
    margin-top: 20px;
  }

  p {
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 15px;
  }
</style>

<NoOuterBody pageTitle={"Cookie Policy"} pageDescription={""}>
  <ScrollProgressBar />

  <h1>Cookie Policy</h1>

  <br />
  <ThemeToggle />
  <br />

  <p><strong>Introduction</strong></p>

  <p>
    This Cookie Policy explains how our website utilizes cookies and similar
    technologies to provide a better browsing experience for our visitors. By
    continuing to use our website, you agree to the use of cookies as described
    in this policy.
  </p>

  <p><strong>What are Cookies?</strong></p>

  <p>
    Cookies are small text files that are stored on your device (computer,
    tablet, smartphone) when you visit a website. They are widely used to make
    websites work more efficiently, as well as to provide information to the
    owners of the site.
  </p>

  <p><strong>Types of Cookies We Use</strong></p>

  <p>
    Our website does not generate cookies by itself. However, we use third-party
    services such as Google Analytics, which may use cookies to collect
    information about how visitors use our site. This information is used to
    analyze website traffic and improve the user experience. These cookies may
    be stored on your device when you visit our website.
  </p>

  <p><strong>Managing Cookies</strong></p>

  <p>
    You can control and manage cookies in various ways. Most web browsers allow
    you to delete or block cookies, as well as to configure your preferences for
    cookie usage. However, please note that disabling cookies may affect your
    experience on our website and limit certain functionalities.
  </p>

  <p><strong>Third-Party Services</strong></p>

  <p>
    Our website is hosted on Netlify, and we use Google Analytics for analytics
    purposes. These third-party services may also use cookies to provide their
    services. We recommend reviewing their respective privacy policies for more
    information on how they handle cookies and personal data.
  </p>

  <p><strong>Updates to this Policy</strong></p>

  <p>
    We may update this Cookie Policy from time to time to reflect changes in our
    practices or for other operational, legal, or regulatory reasons. We
    encourage you to review this policy periodically for any updates.
  </p>
</NoOuterBody>
