---
import OuterBody from "../../layouts/outer-body.astro";
import Splash from "../../components/splash.astro";
import ScrollProgressBar from "../../components/scroll-progress-bar.astro";
---

<OuterBody
  pageTitle={"Rake Engine"}
  pageDescription={"Welcome to the official website of Rake, an open-source game engine designed to simplify the game development process! Rake provides developers with a comprehensive set of tools and features to design, build, and distribute interactive experiences across various platforms. With a commitment to accessibility and education, we aspire to transform Rake into a complete learning platform, fostering the next generation of game creators."}
>
  <ScrollProgressBar />
  <Splash />
  <div class="w-lvh flex flex-col items-center">
    <div class="w-2/3" data-aos="fade-up" data-aos-delay="500">
      <h2 class="text-xl">What is Rake?</h2>
      <p
        class="mt-2 text-justify"
        style="font-family: 'Agave Regular', sans-serif;"
      >
        Welcome to the world of game development! A game engine is a fundamental
        piece of software that serves as the backbone for creating digital
        games. It provides developers with a suite of tools and functionalities
        to design, build, and deploy interactive experiences across various
        platforms. Think of it as the architectural framework upon which games
        are constructed, handling tasks such as rendering graphics, managing
        audio, handling physics, and facilitating scripting and programming
        logic. Now, let us introduce Rake, our open-source game engine designed
        to simplify the game development process. Rake aims to be essential and
        user-friendly, empowering developers of all levels to bring their
        creative visions to life effortlessly. With a commitment to
        accessibility and education, we aspire to transform Rake into a
        comprehensive learning platform, fostering the next generation of game
        creators. Join us on this exciting journey as we revolutionize game
        development together.
      </p>
    </div>
    <br />
    <div class="w-2/3" data-aos="fade-up" data-aos-delay="500">
      <h2 class="text-xl">The state of Rake</h2>
      <p
        class="mt-2 text-justify"
        style="font-family: 'Agave Regular', sans-serif;"
      >
        Rake journey is just beginning, and we're not afraid to embrace change.
        Recently, we underwent a radical architectural overhaul, necessitating
        the rebuilding of many existing features, including our renderer. This
        evolution marks an exciting phase in our development, as we strive to
        refine and enhance Rake to meet the evolving needs of the game
        development community. If you're passionate about shaping the future of
        game development and want to be part of our journey, we invite you to
        join us. Whether you're a seasoned developer looking to contribute code,
        a creative mind with fresh ideas, or simply someone eager to learn and
        grow with us, there's a place for you in the Rake community. Reach out
        to us through the contact methods provided in the website footer, and
        let's build something incredible together.
      </p>
    </div>
    <br />
    <div class="w-2/3" data-aos="fade-up" data-aos-delay="500">
      <h2 class="text-xl">Who is Wilielmus?</h2>
      <p
        class="mt-2 text-justify"
        style="font-family: 'Agave Regular', sans-serif;"
      >
        Wilielmus (Me) is a dedicated game development enthusiast with a
        singular focus on creating immersive digital experiences. As the sole
        developer behind Rake, he pours his passion and expertise into crafting
        a versatile and user-friendly game engine. Proficient in languages like
        C++, Wilielmus channels his creativity into every aspect of Rake's
        development, from its core architecture to its innovative features.
        Despite being the sole mind behind Rake, Wilielmus is undeterred,
        constantly pushing the boundaries of what Rake is capable of. His
        commitment to excellence and love for gaming shine through in every line
        of code. While his personal studies delve into the intricacies of
        artificial intelligence, his heart remains firmly rooted in the world of
        games. With Rake, Wilielmus aims to empower fellow game developers to
        bring their visions to life and shape the future of interactive
        entertainment.
      </p>
    </div>
    <br />
    <div class="w-2/3" data-aos="fade-up" data-aos-delay="500">
      <h2 class="text-xl">MIT Licensing</h2>
      <p
        class="mt-2 text-justify"
        style="font-family: 'Agave Regular', sans-serif;"
      >
        We encourage you to dive into Rake and explore its codebase freely.
        Distributed under the permissive MIT license, Rake offers developers the
        freedom to experiment, innovate, and build upon its foundation without
        constraints. Whether you're a seasoned developer looking to contribute
        to its evolution or a newcomer eager to learn, the open nature of Rake
        invites collaboration and exploration. Embrace the opportunity to tinker
        with its inner workings, customize it to suit your needs, or simply gain
        valuable insights into game engine development. With Rake, the
        possibilities are endless, and we can't wait to see what incredible
        creations you'll bring to life. Let your imagination run wild and embark
        on your journey with Rake today.
      </p>
    </div>
  </div>
</OuterBody>
