---
import NoOuterBody from "../../layouts/no-outer-body.astro";
import ScrollProgressBar from "../../components/scroll-progress-bar.astro";
import ThemeToggle from "../../components/theme-toggle.astro";
---

<style scoped>
  body {
    margin: 25px;
  }

  h1 {
    margin-top: 40px;
    font-size: xx-large;
    font-weight: bold;
  }

  h2 {
    margin-top: 30px;
  }

  h3 {
    margin-top: 20px;
  }

  p {
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 15px;
  }
</style>

<NoOuterBody pageTitle={"Informativa sui cookie"} pageDescription={""}>
  <ScrollProgressBar />

  <h1>Informativa sui cookie</h1>

  <br />
  <ThemeToggle />
  <br />

  <p><strong>Introduzione</strong></p>

  <p>
    Questa Informativa sui cookie spiega come il nostro sito web utilizza i
    cookie e tecnologie simili per fornire una migliore esperienza di
    navigazione ai nostri visitatori. Continuando a utilizzare il nostro sito
    web, accetti l'utilizzo dei cookie come descritto in questa politica.
  </p>

  <p><strong>Cosa sono i Cookie?</strong></p>

  <p>
    I cookie sono piccoli file di testo che vengono memorizzati sul tuo
    dispositivo (computer, tablet, smartphone) quando visiti un sito web. Sono
    ampiamente utilizzati per rendere i siti web più efficienti, oltre che per
    fornire informazioni ai proprietari del sito.
  </p>

  <p><strong>Tipi di Cookie che Utilizziamo</strong></p>

  <p>
    Il nostro sito web non genera cookie autonomamente. Tuttavia, utilizziamo
    servizi di terze parti come Google Analytics, che potrebbero utilizzare i
    cookie per raccogliere informazioni su come i visitatori utilizzano il
    nostro sito. Queste informazioni vengono utilizzate per analizzare il
    traffico del sito web e migliorare l'esperienza utente. Questi cookie
    potrebbero essere memorizzati sul tuo dispositivo quando visiti il nostro
    sito web.
  </p>

  <p><strong>Gestione dei Cookie</strong></p>

  <p>
    Puoi controllare e gestire i cookie in vari modi. La maggior parte dei
    browser web ti consente di eliminare o bloccare i cookie, nonché di
    configurare le tue preferenze per l'uso dei cookie. Tuttavia, ti preghiamo
    di notare che disabilitare i cookie potrebbe influire sulla tua esperienza
    sul nostro sito web e limitare alcune funzionalità.
  </p>

  <p><strong>Servizi di Terze Parti</strong></p>

  <p>
    Il nostro sito web è ospitato su Netlify e utilizziamo Google Analytics per
    scopi analitici. Anche questi servizi di terze parti potrebbero utilizzare i
    cookie per fornire i loro servizi. Ti raccomandiamo di consultare le
    rispettive politiche sulla privacy per ulteriori informazioni su come
    gestiscono i cookie e i dati personali.
  </p>

  <p><strong>Aggiornamenti a questa Politica</strong></p>

  <p>
    Potremmo aggiornare questa Informativa sui cookie di tanto in tanto per
    riflettere cambiamenti nelle nostre pratiche o per altri motivi operativi,
    legali o normativi. Ti incoraggiamo a rivedere periodicamente questa
    politica per eventuali aggiornamenti.
  </p>
</NoOuterBody>
