---
import OuterBody from "../../layouts/outer-body.astro";
import Splash from "../../components/splash.astro";
import ScrollProgressBar from "../../components/scroll-progress-bar.astro";
---

<OuterBody
  pageTitle={"Rake Engine"}
  pageDescription={"Benvenuti nel sito ufficiale di Rake, un motore di gioco open source progettato per semplificare il processo di sviluppo del gioco! Rake fornisce agli sviluppatori un insieme completo di strumenti e funzionalità per progettare, costruire e distribuire esperienze interattive su diverse piattaforme. Con un impegno per l'accessibilità e l'istruzione, aspiriamo a trasformare Rake in una piattaforma di apprendimento completa, promuovendo la prossima generazione di creatori di giochi."}
>
  <ScrollProgressBar />
  <Splash />
  <div class="w-lvh mb-4 mt-4 flex flex-col items-center md:mb-4 md:mt-8">
    <div class="mt-6 w-2/3" data-aos="fade-left" data-aos-delay="500">
      <h2 class="text-xl">Cos'è Rake?</h2>
      <p
        class="mt-2 text-justify"
        style="font-family: 'Agave Regular', sans-serif;"
      >
        Benvenuti nel mondo dello sviluppo di giochi! Un motore di gioco è un
        pezzo fondamentale di software che funge da base per la creazione di
        giochi digitali. Fornisce agli sviluppatori un insieme di strumenti e
        funzionalità per progettare, costruire e distribuire esperienze
        interattive su diverse piattaforme. Pensate ad esso come al telaio
        architettonico su cui sono costruiti i giochi, gestendo compiti come il
        rendering grafico, la gestione dell'audio, la gestione della fisica e
        facilitando la logica di scripting e programmazione. Ora, permetteteci
        di presentarvi Rake, il nostro motore di gioco open source progettato
        per semplificare il processo di sviluppo del gioco. Rake mira ad essere
        essenziale e user-friendly, dando potere agli sviluppatori di tutti i
        livelli di portare facilmente alla vita le loro visioni creative. Con un
        impegno per l'accessibilità e l'istruzione, aspiriamo a trasformare Rake
        in una piattaforma di apprendimento completa, promuovendo la prossima
        generazione di creatori di giochi. Unisciti a noi in questo emozionante
        viaggio mentre rivoluzioniamo insieme lo sviluppo del gioco.
      </p>
    </div>
    <hr />
    <div class="mt-6 w-2/3" data-aos="fade-right" data-aos-delay="500">
      <h2 class="text-xl">Lo stato di Rake</h2>
      <p
        class="mt-2 text-justify"
        style="font-family: 'Agave Regular', sans-serif;"
      >
        Il viaggio di Rake è appena iniziato, e non abbiamo paura di abbracciare
        il cambiamento. Di recente, abbiamo subito una radicale revisione
        architettonica, che ha reso necessaria la ricostruzione di molte
        funzionalità esistenti, inclusa la nostra renderizzazione. Questa
        evoluzione segna una fase emozionante del nostro sviluppo, poiché ci
        sforziamo di perfezionare e migliorare Rake per soddisfare le mutevoli
        esigenze della comunità di sviluppatori di giochi. Se sei appassionato
        di plasmare il futuro dello sviluppo dei giochi e vuoi far parte del
        nostro viaggio, ti invitiamo a unirti a noi. Che tu sia uno sviluppatore
        esperto desideroso di contribuire al codice, una mente creativa con idee
        fresche, o semplicemente qualcuno desideroso di imparare e crescere con
        noi, c'è un posto per te nella comunità di Rake. Contattaci attraverso i
        metodi di contatto forniti nel piè di pagina del sito web, e costruiamo
        insieme qualcosa di incredibile.
      </p>
    </div>
    <hr />
    <div class="mt-6 w-2/3" data-aos="fade-left" data-aos-delay="500">
      <h2 class="text-xl">Chi è Wilielmus?</h2>
      <p
        class="mt-2 text-justify"
        style="font-family: 'Agave Regular', sans-serif;"
      >
        Wilielmus (Io) è un appassionato sviluppatore di giochi con un focus
        unico sulla creazione di esperienze digitali coinvolgenti. Come unico
        sviluppatore dietro Rake, riversa la sua passione e la sua esperienza
        nella creazione di un motore di gioco versatile e user-friendly.
        Competente in linguaggi come C++, Wilielmus canalizza la sua creatività
        in ogni aspetto dello sviluppo di Rake, dall'architettura di base alle
        sue caratteristiche innovative. Nonostante sia l'unico mente dietro
        Rake, Wilielmus non si lascia scoraggiare, spingendo costantemente i
        confini di ciò di cui Rake è capace. Il suo impegno per l'eccellenza e
        l'amore per il gioco emergono in ogni riga di codice. Mentre i suoi
        studi personali approfondiscono le complessità dell'intelligenza
        artificiale, il suo cuore rimane saldamente radicato nel mondo dei
        giochi. Con Rake, Wilielmus mira ad dare potere ai colleghi sviluppatori
        di giochi per portare alla vita le loro visioni e plasmare il futuro
        dell'intrattenimento interattivo.
      </p>
    </div>
    <hr />
    <div class="mt-6 w-2/3" data-aos="fade-left" data-aos-delay="500">
      <h2 class="text-xl">Licenza MIT</h2>
      <p
        class="mt-2 text-justify"
        style="font-family: 'Agave Regular', sans-serif;"
      >
        Ti incoraggiamo ad immergerti in Rake ed esplorare liberamente il suo
        codice. Distribuito sotto la permissiva licenza MIT, Rake offre agli
        sviluppatori la libertà di sperimentare, innovare e costruire sulla sua
        base senza vincoli. Che tu sia uno sviluppatore esperto desideroso di
        contribuire alla sua evoluzione o un neofita desideroso di imparare, la
        natura aperta di Rake invita alla collaborazione e all'esplorazione.
        Abbraccia l'opportunità di giocare con il suo funzionamento interno,
        personalizzalo per soddisfare le tue esigenze o semplicemente acquisisci
        preziosi insights nello sviluppo del motore di gioco. Con Rake, le
        possibilità sono infinite, e non vediamo l'ora di vedere quali
        incredibili creazioni porterai alla vita. Lascia correre la tua
        immaginazione e inizia il tuo viaggio con Rake oggi stesso.
      </p>
    </div>
  </div>
</OuterBody>
