---
import NoOuterBody from "../../layouts/no-outer-body.astro";
import ScrollProgressBar from "../../components/scroll-progress-bar.astro";
import ThemeToggle from "../../components/theme-toggle.astro";
---

<style scoped>
  body {
    margin: 25px;
  }

  h1 {
    margin-top: 40px;
    font-size: xx-large;
    font-weight: bold;
  }

  h2 {
    margin-top: 30px;
  }

  h3 {
    margin-top: 20px;
  }

  p {
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 15px;
  }
</style>

<NoOuterBody pageTitle={"Informativa sulla privacy"} pageDescription={""}>
  <ScrollProgressBar />

  <h1>Informativa sulla privacy</h1>

  <br />
  <ThemeToggle />
  <br />

  <p><strong>Introduzione</strong></p>

  <p>
    Questa Informativa sulla privacy descrive come raccogliamo, utilizziamo,
    divulghiamo e proteggiamo le tue informazioni personali quando visiti il
    nostro sito web.
  </p>

  <p><strong>Informazioni che Raccogliamo</strong></p>

  <p>
    Non raccogliamo alcuna informazione personale direttamente attraverso il
    nostro sito web. Tuttavia, come molti operatori di siti web, utilizziamo
    servizi di terze parti come Google Analytics per raccogliere automaticamente
    determinate informazioni. Queste possono includere il tuo indirizzo IP, il
    tipo di browser, le pagine di provenienza/uscita e altre informazioni
    sull'uso.
  </p>

  <p><strong>Come Utilizziamo le Tue Informazioni</strong></p>

  <p>
    Le informazioni raccolte vengono utilizzate per scopi analitici al fine di
    comprendere come i visitatori interagiscono con il nostro sito web e per
    migliorarne la funzionalità e il contenuto. Non utilizziamo queste
    informazioni per identificare singoli utenti.
  </p>

  <p><strong>Servizi di Terze Parti</strong></p>

  <p>
    Potremmo utilizzare servizi di terze parti, come Google Analytics, per
    analizzare il traffico del sito web. Questi servizi potrebbero raccogliere
    informazioni sull'uso del nostro sito web tramite cookie e tecnologie
    simili. Ti raccomandiamo di consultare le politiche sulla privacy di questi
    servizi di terze parti per ulteriori informazioni su come gestiscono i tuoi
    dati personali.
  </p>

  <p><strong>Sicurezza dei Dati</strong></p>

  <p>
    Adottiamo misure adeguate per proteggere la sicurezza delle tue informazioni
    personali. Tuttavia, ti preghiamo di notare che nessun metodo di
    trasmissione via internet o di archiviazione elettronica è completamente
    sicuro. Pertanto, sebbene cerchiamo di utilizzare mezzi commercialmente
    accettabili per proteggere le tue informazioni personali, non possiamo
    garantirne la sicurezza assoluta.
  </p>

  <p><strong>Modifiche a questa Politica</strong></p>

  <p>
    Potremmo aggiornare questa Informativa sulla privacy di tanto in tanto per
    riflettere cambiamenti nelle nostre pratiche o per altri motivi operativi,
    legali o normativi. Ti incoraggiamo a rivedere periodicamente questa
    politica per eventuali aggiornamenti.
  </p>

  <p><strong>Contattaci</strong></p>

  <p>
    Se hai domande o dubbi su questa Informativa sulla privacy, ti preghiamo di
    contattarci all'indirizzo <a
      class="text-blue-400 underline"
      href="mailto:therakeproject@gmail.com"
      target="_blank"
      referrerpolicy="no-referrer">therakeproject@gmail.com</a
    >.
  </p>
</NoOuterBody>
