---
import { Icon } from "astro-icon/components";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import LanguagePicker from '../components/language-picker.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="w-lvh mb-4 mt-4 flex flex-col items-center md:mb-8 md:mt-8">
  <br>
  <h2 class="text-center font-bold text-black">{t("footer.ChooseLanguage")}:</h2>
  <LanguagePicker />
  <br>
  <h2 class="text-center font-bold text-black">{t("footer.ConnectWithUs")}:</h2>
  <div class="mt-6 flex flex-row items-center justify-center">
    <a
      href="https://github.com/WilliamKarolDiCioccio/Rake.git"
      target="_blank"
      referrerpolicy="no-referrer"
    >
      <Icon
        class="ml-3 mr-3 select-none text-center text-black transition-transform text-2xl hover:scale-125"
        name="logos:github-icon"
      /></a
    >
    <a
      href="https://www.youtube.com/channel/UCWdujV0-F19ZcMaHuf3yCwA"
      target="_blank"
      referrerpolicy="no-referrer"
      ><Icon
        class="ml-3 mr-3 select-none text-center text-red-500 transition-transform text-2xl hover:scale-125"
        name="logos:youtube-icon"
      /></a
    >
    <a
      href="https://discord.gg/qyXCKPDUWx"
      target="_blank"
      referrerpolicy="no-referrer"
      ><Icon
        class="ml-3 mr-3 select-none text-center text-indigo-400 transition-transform text-2xl hover:scale-125"
        name="logos:discord-icon"
      /></a
    >
    <a
      href="mailto:therakeproject@gmail.com"
      target="_blank"
      referrerpolicy="no-referrer"
      ><Icon
        class="ml-3 mr-3 select-none text-center text-indigo-400 transition-transform text-2xl hover:scale-125"
        name="logos:google-gmail"
      /></a
    >
  </div>
  <br />
  <h2 class="text-center font-bold text-black">{t("footer.OurTechStack")}:</h2>
  <div class="mt-6 flex flex-row items-center justify-center">
    <a href="https://astro.build" target="_blank" referrerpolicy="no-referrer">
      <Icon
        class="ml-3 mr-3 select-none text-center transition-transform text-2xl hover:scale-125"
        name="logos:astro-icon"
      /></a
    >
    <a
      href="https://tailwindcss.com"
      target="_blank"
      referrerpolicy="no-referrer"
      ><Icon
        class="ml-3 mr-3 select-none text-center transition-transform text-2xl hover:scale-125"
        name="logos:tailwindcss-icon"
      /></a
    >
    <a
      href="https://www.netlify.com"
      target="_blank"
      referrerpolicy="no-referrer"
      ><Icon
        class="ml-3 mr-3 select-none text-center transition-transform text-2xl hover:scale-125"
        name="logos:netlify-icon"
      /></a
    >
  </div>
  <br />
  <h2 class="text-center font-bold text-gray-400">
    &copy; 2024 TheRakeProject. All rights reserved.
  </h2>
  <br />
  <h3 class="text-center text-gray-400">
    Check out our <a
      class="text-blue-600 underline"
      href="href={`/${lang}/cookie-policy/`}">Cookie Policy</a
    > and
    <a class="text-blue-600 underline" href={`/${lang}/privacy-policy/`}
      >Privacy Policy</a
    >.
  </h3>
  <br>
</div>
