---
import { languages } from "../i18n/ui";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="flex flex-row items-center">
  <h2 class="text-center font-bold">
    {t("footer.ChooseLanguage")}:
  </h2>
  <ul class="flex flex-row justify-center">
    {
      Object.entries(languages).map(([lang, label]) => (
          <a class="text-blue-400 underline m-1" href={`/${lang}/`}>
            {label}
          </a>
      ))
    }
  </ul>
</div>
