---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import RakeLogo from "../images/RakeLogo.webp";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<style>
  @media (max-width: 768px) {
    .hide-on-small {
      display: none;
    }
  }
</style>

<nav
  class="fixed left-0 top-0 z-50 h-24 w-lvw bg-opacity-50 py-4 shadow-md backdrop-blur-md md:h-44"
  data-aos="fade-up"
  data-aos-delay="0"
>
  <div class="container mx-auto flex items-center justify-between px-4">
    <!-- Logo and Website Name -->
    <div class="flex items-center transition-transform hover:scale-110">
      <div class="h-16 w-16 md:h-32 md:w-32">
        <Image
          src={RakeLogo}
          width={RakeLogo.width / 8}
          densities={[1.5, 2]}
          alt="Rake Engine Logo"
        />
      </div>
      <a
        class="theme-responsive hide-on-small ml-2 font-bold text-lg md:text-4xl"
        href="https://landing-rake-engine.netlify.app">Rake Engine</a
      >
    </div>
    <!-- Links -->
    <div class="flex items-center space-x-4">
      <a
        href="https://docs-rake-engine.netlify.app"
        class="flex transform flex-row items-center text-red-400 transition-transform text-sm hover:scale-110 hover:font-bold hover:text-red-600 hover:underline md:text-lg"
        target="_blank"
        aria-label={t("nav.Docs")}
      >
        {t("nav.Docs")}
        <Icon class="m-auto select-none" name="mdi:book" />
      </a>
      <a
        href="https://drive.google.com/drive/folders/1cFaisr8z-7TKOAejPI-E_JsvL2AZ2EEK?usp=drive_link"
        class="flex transform flex-row items-center text-red-400 transition-transform text-sm hover:scale-110 hover:font-bold hover:text-red-600 hover:underline md:text-lg"
        target="_blank"
        aria-label={t("nav.APIReference")}
      >
        {t("nav.APIReference")}
        <Icon class="m-auto select-none" name="mdi:code" />
      </a>
    </div>
  </div>
</nav>
