---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import RakeScreenshot from "../images/RakeScreenshot.webp";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<style scoped>
  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .mouse_scroll {
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 100px;
  }

  .m_scroll_arrows {
    display: block;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-right: 4px solid red;
    border-bottom: 4px solid red;
    margin: 0 0 3px 4px;
    width: 16px;
    height: 16px;
  }

  .one,
  .two,
  .three {
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
  }

  .one {
    margin-top: 1px;
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }

  .two {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -webkit-animation-direction: alternate;
    animation-delay: 0.2s;
    animation-direction: alternate;
    margin-top: -6px;
  }

  .three {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    -webkit-animation-direction: alternate;
    animation-delay: 0.3s;
    animation-direction: alternate;
    margin-top: -6px;
  }

  @-webkit-keyframes mouse-scroll {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  @-moz-keyframes mouse-scroll {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  @-o-keyframes mouse-scroll {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes mouse-scroll {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
</style>

<div
  class="w-lvh flex flex-col items-center"
  data-aos="fade-up"
  data-aos-delay="250"
>
  <div class="m-6">
    <div
      id="fullscreen-image-container"
      class="relative shadow-xl transition-transform hover:scale-105 hover:shadow-2xl"
    >
      <Image
        class="aspect-video select-none rounded-xl"
        src={RakeScreenshot}
        width={RakeScreenshot.width / 2}
        densities={[1.5, 2]}
        alt="screenshot"
      />
      <button
        id="fullscreen-button"
        class="text-md absolute bottom-0 right-0 flex flex-row items-center rounded-br-xl rounded-tl-xl bg-black bg-opacity-50 text-white"
      >
        <span class="ml-3 mr-1">{t("splash.Fullscreen")}</span>
        <Icon class="ml-1 mr-1 select-none" name="mdi:fullscreen" />
      </button>
    </div>
  </div>
  <div class="flex flex-col items-center justify-center md:flex-row">
    <a
      href="https://github.com/WilliamKarolDiCioccio/Rake/releases"
      target="_blank"
      referrerpolicy="no-referrer"
      aria-label={t("splash.Download")}
      id="rake-download-link"
    >
      <button
        class="m-3 flex h-12 flex-row items-center rounded-lg bg-gradient-to-t from-red-500 to-orange-500 text-white shadow-lg shadow-orange-500/50 transition-transform text-lg hover:scale-110"
      >
        <span class="ml-3 mr-1">{t("splash.Download")}</span>
        <Icon class="ml-1 mr-1 select-none" name="mdi:download" />
        <span
          class="ml-1 mr-3 inline-flex items-center justify-center rounded-full bg-red-600 px-2 py-1 font-bold leading-none text-white text-xs"
          >{t("common.Unavailable")}</span
        >
      </button>
    </a>
    <a
      href="https://github.com/WilliamKarolDiCioccio/Rake.git"
      target="_blank"
      referrerpolicy="no-referrer"
      aria-label={t("splash.CloneSource")}
      id="rake-clone-link"
    >
      <button
        class="m-3 flex h-12 flex-row items-center rounded-lg bg-gradient-to-t from-blue-500 to-cyan-500 text-white shadow-lg shadow-cyan-500/50 transition-transform text-lg hover:scale-110"
      >
        <span class="ml-3 mr-1">{t("splash.CloneSource")}</span>
        <Icon class="ml-1 mr-1 select-none" name="mdi:file" />
        <span
          class="ml-1 mr-3 inline-flex items-center justify-center rounded-full bg-green-600 px-2 py-1 font-bold leading-none text-white text-xs"
          >{t("common.Available")}</span
        >
      </button>
    </a>
    <a
      href="https://forms.gle/Cn7aGKuxJoi6z4Ks8"
      target="_blank"
      referrerpolicy="no-referrer"
      aria-label={t("splash.Collaborate")}
      id="rake-collaborate-link"
    >
      <button
        class="m-3 flex h-12 flex-row items-center rounded-lg bg-gradient-to-t from-green-600 to-lime-500 text-white shadow-lg shadow-lime-500/50 transition-transform text-lg hover:scale-110"
      >
        <span class="ml-3 mr-1">{t("splash.Collaborate")}</span>
        <Icon class="ml-1 mr-3 select-none" name="mdi:people" />
      </button>
    </a>
  </div>
  <br />
  <div class="mouse_scroll">
    <div>
      <span class="m_scroll_arrows one"></span>
      <span class="m_scroll_arrows two"></span>
      <span class="m_scroll_arrows three"></span>
    </div>
  </div>
</div>

<script lang="ts" is:inline>
  const fullscreenButton = document.getElementById("fullscreen-button");
  const imageContainer = document.getElementById("fullscreen-image-container");

  console.log(fullscreenButton);

  fullscreenButton.addEventListener("click", () => {
    if (imageContainer.requestFullscreen) {
      imageContainer.requestFullscreen();
    } else if (imageContainer.webkitRequestFullscreen) {
      imageContainer.webkitRequestFullscreen();
    } else if (imageContainer.msRequestFullscreen) {
      imageContainer.msRequestFullscreen();
    }
  });

  document.addEventListener("fullscreenchange", () => {
    if (document.fullscreenElement === imageContainer) {
      imageContainer.style.width = "100lvw";
      imageContainer.style.height = "100lvh";
      imageContainer.style.overflow = "hidden";
      imageContainer.style.backgroundSize = "cover";
    } else {
      imageContainer.style.width = "";
      imageContainer.style.height = "";
      imageContainer.style.overflow = "";
      imageContainer.style.backgroundSize = "";
    }
  });
</script>
