---
import Head from '~/components/head.astro';
import { getLangFromUrl } from '../i18n/utils';

const { pageTitle } = Astro.props;
const { pageDescription } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<html lang={lang} translate="no">
  <head>
    <Head title={pageTitle} description={pageDescription} />
  </head>
  <body>
    <slot />
  </body>
</html>